.bottom-fix {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rem(8) rem(16);
  .btn {
    width: 100%;
  }
}

.align {
  &.both {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
